
@media (max-width: 1024px) {
    .quadradocentral {
        background-color: #212B46;
        width: 400px;
        height: 300px;
        position: absolute;
        left: 33%;
        top: 25%;
        border-radius: 10%;
        opacity: 80%;
    }

    a1 {
        font-size: 40px;
        color: white;
        top: -24%;
        left: 28%;
        position: relative;
    }

    .usuario {
        width: 300px;
        position: relative;
        top: 15%;
        left: 13%;
    }

    .senha {
        width: 300px;
        position: relative;
        top: 17%;
        left: 13%;
    }

    a2 {
        color: white;
        position: relative;
        top: 14%;
        left: -34%;
    }

    a3 {
        color: white;
        position: relative;
        top: 13%;
        left: 13%;
    }

    .entrar {
        align-items: center;
        position: relative;
        width: 120px;
        height: 30px;
        left: 28%;
    }

}



@media (min-width: 1025px) and (max-width: 1440px) {
    .quadradocentral {
        background-color: #212B46;
        width: 400px;
        height: 300px;
        position: absolute;
        left: 34%;
        top: 27%;
        border-radius: 10%;
        opacity: 80%;
    }

    a1 {
        font-size: 40px;
        color: white;
        top: -21%;
        left: 28%;
        position: relative;
    }

    .usuario {
        width: 300px;
        position: relative;
        top: 8%;
        left: 13%;
    }

    .senha {
        width: 300px;
        position: relative;
        top: 13%;
        left: 13%;
    }

    a2 {
        color: white;
        position: relative;
        top: 6%;
        left: -34%;
    }

    a3 {
        color: white;
        position: relative;
        top: 8%;
        left: 13%;
    }

    .entrar {
        align-items:center;
        position: relative;
        width: 120px;
        height: 30px;
        left: 28%;
    }
}

@media (min-width: 1441px) {
    .quadradocentral {
        background-color: #212B46;
        width: 400px;
        height: 300px;
        position: absolute;
        left: 43%;
        top: 27%;
        border-radius: 10%;
        opacity: 80%;
    }

    a1 {
        font-size: 40px;
        color: white;
        top: -23%;
        left: 29%;
        position: relative;
    }

    .usuario {
        width: 300px;
        position: relative;
        top: 10%;
        left: 13%;
    }

    .senha {
        width: 300px;
        position: relative;
        top: 15%;
        left: 13%;
    }

    a2 {
        color: white;
        position: relative;
        top: 7%;
        left: -32%;
    }

    a3 {
        color: white;
        position: relative;
        top: 9%;
        left: 13%;
    }

    .entrar {
        align-items: center;
        position: relative;
        width: 120px;
        height: 30px;
        left: 28%;
    }
}

