body {
    overflow: hidden;
}

@media (max-width: 1024px) {
    #cabecalho {
        height: 80px;
        background-color: #212B46;
    }

        #cabecalho #profileicon {
            position: relative;
            width: 50px;
            height: 50px;
            top: 18%;
            left: 90%;
        }

        #cabecalho a {
            position: relative;
            left: 80%;
            top: 30%;
        }

    #menu {
        width: 155px;
        height: 100vh;
        background-color: #212B46;
    }

        #menu a1 {
            position: relative;
            top: 13%;
            left: 36%;
        }

        #menu #seleDash {
            position: relative;
            width: 155px;
            height: 55px;
            background-color: #151A30;
            top: 19%;
        }

    .dashboard {
        position: relative;
        width: 42px;
        top: 12%;
        right: 48%;
    }

    #menu a2 {
        position: relative;
        top: 17%;
        left: 35%;
    }

    .estoque {
        position: relative;
        width: 42px;
        top: 16%;
        right: 35%;
    }

    #menu a3 {
        position: relative;
        top: 22%;
        left: 35%;
    }

    .vendas {
        position: relative;
        width: 42px;
        top: 20%;
        right: 30%;
    }

    #menu a4 {
        position: relative;
        top: 25%;
        left: 35%;
    }

    .animais {
        position: relative;
        width: 55px;
        top: 24%;
        right: 37%;
    }

    #menu a5 {
        position: relative;
        top: 27%;
        left: 35%;
    }

    .tesoura {
        position: relative;
        width: 41px;
        top: 27%;
        right: 55%;
    }

    #quadrados .quadrado1 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 24%;
        left: 17%;
    }

    #quadrados .quadrado2 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 24%;
        left: 45%;
    }

    #quadrados .quadrado3 {
        position: absolute;
        width: 260px;
        height: 100px;
        background-color: #212B46;
        top: 24%;
        left: 73%;
    }

    #quadrados .quadrado4 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 45%;
        left: 17%;
    }

    #quadrados .quadrado5 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 45%;
        left: 45%;
    }

    #quadrados .quadrado6 {
        position: absolute;
        width: 260px;
        height: 100px;
        background-color: #212B46;
        top: 45%;
        left: 73%;
    }

    #quadrados .grafico {
        position: relative;
        top: 21%;
        width: 150px;
        left: 34%;
    }

    #quadrados .quadrado7 {
        position: absolute;
        width: 541px;
        height: 250px;
        background-color: #212B46;
        top: 70%;
        left: 17%;
    }

    #quadrados .quadrado8 {
        position: absolute;
        width: 280px;
        height: 250px;
        background-color: #212B46;
        top: 70%;
        left: 71%;
    }

    #quadrados l1 {
        position: relative;
        top: -57%;
        left: 4%;
        font-size: 120%;
    }

    #quadrados l2 {
        position: relative;
        top: -62%;
        left: 1%;
        font-size: 120%;
    }

    #quadrados l3 {
        position: relative;
        top: 43%;
        left: 42%;
        font-size: 150%;
    }

    #quadrados l12 {
        position: relative;
        top: 16%;
        left: 33%;
        font-size: 240%;
    }


    #quadrados l121 {
        position: relative;
        top: 39%;
        left: 8%;
        width: 35px;
        height: 35px;
    }

    .quadrado12 {
        position: relative;
        top: -7%;
        left: -20%;
        width: 35px;
        height: 35px;
    }

    .quadrado13 {
        position: relative;
        top: -6%;
        left: 6%;
        width: 35px;
        height: 35px;
    }

    #quadrados l21 {
        position: relative;
        top: 18%;
        left: 55%;
        font-size: 240%;
    }

    #quadrados l22 {
        position: relative;
        top: 40%;
        left: 25%;
        font-size: 88%;
    }

    #quadrados l31 {
        position: relative;
        top: 20%;
        left: 79%;
        font-size: 250%;
    }

    #quadrados l32 {
        position: relative;
        top: 38%;
        left: 65%;
        font-size: 88%;
    }

    #quadrados l41 {
        position: relative;
        top: 14%;
        left: 14%;
        font-size: 250%;
    }

    #quadrados l42 {
        position: relative;
        top: 34%;
        left: -1%;
        font-size: 90%;
    }

    #quadrados l51 {
        position: relative;
        top: 18%;
        left: 55%;
        font-size: 250%;
    }

    #quadrados l52 {
        position: relative;
        top: 36%;
        left: 29%;
        font-size: 90%;
    }

    #quadrados l61 {
        position: relative;
        top: 21%;
        left: 80%;
        font-size: 256%;
    }

    #quadrados l62 {
        position: relative;
        top: 37%;
        left: 65%;
        font-size: 88%;
    }

    .quadrado44 {
        position: relative;
        top: -15%;
        left: -34%;
        width: 35px;
        height: 35px;
    }

    .quadrado55 {
        position: relative;
        top: -8%;
        left: 9%;
        width: 35px;
        height: 35px;
    }
}


@media (min-width: 1025px) and (max-width: 1440px) {
    #cabecalho {
        height: 80px;
        background-color: #212B46;
    }


        #cabecalho #profileicon {
            position: relative;
            width: 50px;
            height: 50px;
            top: 18%;
            left: 90%;
        }

        #cabecalho a {
            position: relative;
            left: 80%;
            top: 30%;
        }

    #menu {
        width: 155px;
        height: 100vh;
        background-color: #212B46;
    }

        #menu a1 {
            position: relative;
            top: 13%;
            left: 36%;
        }

        #menu #seleDash {
            position: relative;
            width: 155px;
            height: 55px;
            background-color: #151A30;
            top: 19%;
        }

    .dashboard {
        position: relative;
        width: 42px;
        top: 12%;
        right: 48%;
    }

    #menu a2 {
        position: relative;
        top: 17%;
        left: 35%;
    }

    .estoque {
        position: relative;
        width: 42px;
        top: 16%;
        right: 35%;
    }

    #menu a3 {
        position: relative;
        top: 22%;
        left: 35%;
    }

    .vendas {
        position: relative;
        width: 42px;
        top: 20%;
        right: 30%;
    }

    #menu a4 {
        position: relative;
        top: 25%;
        left: 35%;
    }

    .animais {
        position: relative;
        width: 55px;
        top: 24%;
        right: 37%;
    }

    #menu a5 {
        position: relative;
        top: 27%;
        left: 35%;
    }

    .tesoura {
        position: relative;
        width: 41px;
        top: 27%;
        right: 55%;
    }

    #quadrados .quadrado1 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 24%;
        left: 20%;
    }

    #quadrados .quadrado2 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 24%;
        left: 45%;
    }

    #quadrados .quadrado3 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 24%;
        left: 70%;
    }

    #quadrados .quadrado4 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 45%;
        left: 20%;
    }

    #quadrados .quadrado5 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 45%;
        left: 45%;
    }

    #quadrados .quadrado6 {
        position: absolute;
        width: 280px;
        height: 100px;
        background-color: #212B46;
        top: 45%;
        left: 70%;
    }

    #quadrados .grafico {
        position: relative;
        top: 21%;
        width: 150px;
        left: 34%;
    }

    #quadrados .quadrado7 {
        position: absolute;
        width: 643px;
        height: 250px;
        background-color: #212B46;
        top: 64%;
        left: 20%;
    }

    #quadrados .quadrado8 {
        position: absolute;
        width: 280px;
        height: 250px;
        background-color: #212B46;
        top: 64%;
        left: 70%;
    }

    #quadrados l1 {
        position: relative;
        top: -57%;
        left: 4%;
        font-size: 120%;
    }

    #quadrados l2 {
        position: relative;
        top: -55%;
        left: 1%;
        font-size: 120%;
    }

    #quadrados l3 {
        position: relative;
        top: 43%;
        left: 42%;
        font-size: 150%;
    }

    #quadrados l12 {
        position: relative;
        top: 16%;
        left: 33%;
        font-size: 240%;
    }


    #quadrados l121 {
        position: relative;
        top: 39%;
        left: 8%;
        width: 35px;
        height: 35px;
    }

    .quadrado12 {
        position: relative;
        top: -7%;
        left: -20%;
        width: 35px;
        height: 35px;
    }

    .quadrado13 {
        position: relative;
        top: -6%;
        left: 6%;
        width: 35px;
        height: 35px;
    }

    #quadrados l21 {
        position: relative;
        top: 18%;
        left: 55%;
        font-size: 240%;
    }

    #quadrados l22 {
        position: relative;
        top: 40%;
        left: 25%;
        font-size: 88%;
    }

    #quadrados l31 {
        position: relative;
        top: 20%;
        left: 79%;
        font-size: 250%;
    }

    #quadrados l32 {
        position: relative;
        top: 38%;
        left: 65%;
        font-size: 88%;
    }

    #quadrados l41 {
        position: relative;
        top: 14%;
        left: 14%;
        font-size: 250%;
    }

    #quadrados l42 {
        position: relative;
        top: 34%;
        left: -1%;
        font-size: 90%;
    }

    #quadrados l51 {
        position: relative;
        top: 18%;
        left: 55%;
        font-size: 250%;
    }

    #quadrados l52 {
        position: relative;
        top: 36%;
        left: 29%;
        font-size: 90%;
    }

    #quadrados l61 {
        position: relative;
        top: 21%;
        left: 80%;
        font-size: 256%;
    }

    #quadrados l62 {
        position: relative;
        top: 37%;
        left: 65%;
        font-size: 88%;
    }

    .quadrado44 {
        position: relative;
        top: -15%;
        left: -34%;
        width: 35px;
        height: 35px;
    }

    .quadrado55 {
        position: relative;
        top: -8%;
        left: 9%;
        width: 35px;
        height: 35px;
    }
}