
@media (max-width: 1024px) {
    .custom-dark-bg {
        background-color: #151A30 !important;
    }
    #cabecalho {
        height: 80px;
        background-color: #212B46;
    }


        #cabecalho #profileicon {
            position: relative;
            width: 50px;
            height: 50px;
            top: 18%;
            left: 90%;
        }

        #cabecalho a {
            position: relative;
            left: 80%;
            top: 30%;
        }

    #menu {
        width: 155px;
        height: 100vh;
        background-color: #212B46;
        position: fixed;
        left: 0;
    }

        #menu .textoDashboard {
            position: relative;
            top: 13%;
            left: 36%;
            text-decoration: none;
        }

        #menu .selecionado {
            position: relative;
            width: 155px;
            height: 110px;
            background-color: #151A30;
            top: 20%;
        }

    .ImagemDashboard {
        position: relative;
        width: 42px;
        top: 12%;
        right: 48%;
    }

    #menu .textoEstoque {
        position: relative;
        top: 16%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemEstoque {
        position: relative;
        width: 42px;
        top: 16%;
        right: 36%;
    }

    #menu .textoVendas {
        position: relative;
        top: 20%;
        left: 38%;
        text-decoration: none;
    }

    .ImagemVendas {
        position: relative;
        width: 42px;
        top: 18%;
        right: 30%;
    }

    #menu .textoRegistrarNovaVenda{
        position: relative;
        top: 18%;
        left: 0%;
        text-decoration: none;
    }

    #menu .textoGerarNotaFiscal{
        position: relative;
        top: 24%;
        left: 0%;
        text-decoration: none;
    }

    #menu .textoAnimais {
        position: relative;
        top: 12%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemAnimais {
        position: relative;
        width: 55px;
        top: 7%;
        right: 37%;
    }

    .textoCadastrarAnimais{
        position: relative;
        text-decoration: none;
        color:white;
        left: 10%;
        top: 11%;
    }

    #menu .textoBanhoetosa {
        position: relative;
        top: 25%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemTesoura {
        position: relative;
        width: 41px;
        top: 25%;
        right: 55%;
    }

    #menu .textoCadastrarProduto {
        position: relative;
        top: 12%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoCadastrarFornecedor {
        position: relative;
        top: 15%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoGerenciarEstoque {
        position: relative;
        top: 16%;
        left: 4%;
        text-decoration: none;
    }

    /*QUADRADO CENTRAL*/

    .quadradoCentral {
        position: absolute;
        width: 920px;
        height: 440px;
        background-color: #212B46;
        left: 20%;
        top: 21%;
    }

    .quadradoEspecie{
        position: relative;
        width: 270px;
        height: 40px;
        top: 9%;
        left: 6%;
        display: flex;
    }

    .textoEspecie{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: 12%;
        width: 70px;
    }

    .quadradoValor{
        position: relative;
        width: 270px;
        height: 40px;
        top: -11%;
        left: 64%;
        display: flex;
    }

    .textoValor{
        color: white;
        position: relative;
        left: 64%;
        font-size: 130%;
        top: -8%;
        width: 70px;
    }

    .quadradoFornecedor{
        position: relative;
        width: 270px;
        height: 40px;
        top: -9%;
        left: 6%;
        display: flex;
    }

    .textoFornecedor{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: -6%;
        width: 70px;
    }

    .quadradoDescricao{
        position: relative;
        width: 807px;
        height: 100px;
        top: -14%;
        left: 6%;
 }

    .textoDescricao{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: -6%;
        width: 70px;
    }

    .confirmar{
        position: relative;
        top: -6%;
        left: 45%;
    }
}


@media (min-width: 1025px) and (max-width: 1439px) {
    .custom-dark-bg {
        background-color: #151A30 !important;
    }
    #cabecalho {
        height: 80px;
        background-color: #212B46;
    }


        #cabecalho #profileicon {
            position: relative;
            width: 50px;
            height: 50px;
            top: 18%;
            left: 90%;
        }

        #cabecalho a {
            position: relative;
            left: 80%;
            top: 30%;
        }

    #menu {
        width: 155px;
        height: 100vh;
        background-color: #212B46;
        position: fixed;
        left: 0;
    }

        #menu .textoDashboard {
            position: relative;
            top: 13%;
            left: 36%;
            text-decoration: none;
        }

        #menu .selecionado {
            position: relative;
            width: 155px;
            height: 110px;
            background-color: #151A30;
            top: 20%;
        }

    .ImagemDashboard {
        position: relative;
        width: 42px;
        top: 12%;
        right: 48%;
    }

    #menu .textoEstoque {
        position: relative;
        top: 16%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemEstoque {
        position: relative;
        width: 42px;
        top: 16%;
        right: 36%;
    }

    #menu .textoVendas {
        position: relative;
        top: 20%;
        left: 38%;
        text-decoration: none;
    }

    .ImagemVendas {
        position: relative;
        width: 42px;
        top: 18%;
        right: 30%;
    }

    #menu .textoRegistrarNovaVenda{
        position: relative;
        top: 18%;
        left: 0%;
        text-decoration: none;
    }

    #menu .textoGerarNotaFiscal{
        position: relative;
        top: 24%;
        left: 0%;
        text-decoration: none;
    }

    #menu .textoAnimais {
        position: relative;
        top: 12%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemAnimais {
        position: relative;
        width: 55px;
        top: 7%;
        right: 37%;
    }

    .textoCadastrarAnimais{
        position: relative;
        text-decoration: none;
        color:white;
        left: 10%;
        top: 11%;
    }

    #menu .textoBanhoetosa {
        position: relative;
        top: 25%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemTesoura {
        position: relative;
        width: 41px;
        top: 25%;
        right: 55%;
    }

    #menu .textoCadastrarProduto {
        position: relative;
        top: 12%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoCadastrarFornecedor {
        position: relative;
        top: 15%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoGerenciarEstoque {
        position: relative;
        top: 16%;
        left: 4%;
        text-decoration: none;
    }

    /*QUADRADO CENTRAL*/

    .quadradoCentral {
        position: absolute;
        width: 920px;
        height: 440px;
        background-color: #212B46;
        left: 20%;
        top: 21%;
    }

    .quadradoEspecie{
        position: relative;
        width: 270px;
        height: 40px;
        top: 9%;
        left: 6%;
        display: flex;
    }

    .textoEspecie{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: 12%;
        width: 70px;
    }

    .quadradoValor{
        position: relative;
        width: 270px;
        height: 40px;
        top: -11%;
        left: 64%;
        display: flex;
    }

    .textoValor{
        color: white;
        position: relative;
        left: 64%;
        font-size: 130%;
        top: -8%;
        width: 70px;
    }

    .quadradoFornecedor{
        position: relative;
        width: 270px;
        height: 40px;
        top: -9%;
        left: 6%;
        display: flex;
    }

    .textoFornecedor{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: -6%;
        width: 70px;
    }

    .quadradoDescricao{
        position: relative;
        width: 807px;
        height: 100px;
        top: -14%;
        left: 6%;
 }

    .textoDescricao{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: -6%;
        width: 70px;
    }

    .confirmar{
        position: relative;
        top: -6%;
        left: 45%;
    }



}

@media (min-width: 1440px) {
    .custom-dark-bg {
        background-color: #151A30 !important;
    }
    #cabecalho {
        height: 80px;
        background-color: #212B46;
    }


        #cabecalho #profileicon {
            position: relative;
            width: 50px;
            height: 50px;
            top: 18%;
            left: 90%;
        }

        #cabecalho a {
            position: relative;
            left: 80%;
            top: 30%;
        }

    #menu {
        width: 155px;
        height: 100vh;
        background-color: #212B46;
        position: fixed;
        left: 0;
    }

        #menu .textoDashboard {
            position: relative;
            top: 13%;
            left: 36%;
            text-decoration: none;
        }

        #menu .selecionado {
            position: relative;
            width: 155px;
            height: 110px;
            background-color: #151A30;
            top: 20%;
        }

    .ImagemDashboard {
        position: relative;
        width: 42px;
        top: 12%;
        right: 48%;
    }

    #menu .textoEstoque {
        position: relative;
        top: 16%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemEstoque {
        position: relative;
        width: 42px;
        top: 16%;
        right: 36%;
    }

    #menu .textoVendas {
        position: relative;
        top: 20%;
        left: 38%;
        text-decoration: none;
    }

    .ImagemVendas {
        position: relative;
        width: 42px;
        top: 18%;
        right: 30%;
    }

    #menu .textoRegistrarNovaVenda{
        position: relative;
        top: 18%;
        left: 0%;
        text-decoration: none;
    }

    #menu .textoGerarNotaFiscal{
        position: relative;
        top: 24%;
        left: 0%;
        text-decoration: none;
    }

    #menu .textoAnimais {
        position: relative;
        top: 12%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemAnimais {
        position: relative;
        width: 55px;
        top: 7%;
        right: 37%;
    }

    .textoCadastrarAnimais{
        position: relative;
        text-decoration: none;
        color:white;
        left: 10%;
        top: 11%;
    }

    #menu .textoBanhoetosa {
        position: relative;
        top: 25%;
        left: 35%;
        text-decoration: none;
    }

    .ImagemTesoura {
        position: relative;
        width: 41px;
        top: 25%;
        right: 55%;
    }

    #menu .textoCadastrarProduto {
        position: relative;
        top: 12%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoCadastrarFornecedor {
        position: relative;
        top: 15%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoGerenciarEstoque {
        position: relative;
        top: 16%;
        left: 4%;
        text-decoration: none;
    }

    /*QUADRADO CENTRAL*/

    .quadradoCentral {
        position: absolute;
        width: 920px;
        height: 440px;
        background-color: #212B46;
        left: 20%;
        top: 21%;
    }

    .quadradoEspecie{
        position: relative;
        width: 270px;
        height: 40px;
        top: 9%;
        left: 6%;
        display: flex;
    }

    .textoEspecie{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: 12%;
        width: 70px;
    }

    .quadradoValor{
        position: relative;
        width: 270px;
        height: 40px;
        top: -11%;
        left: 64%;
        display: flex;
    }

    .textoValor{
        color: white;
        position: relative;
        left: 64%;
        font-size: 130%;
        top: -8%;
        width: 70px;
    }

    .quadradoFornecedor{
        position: relative;
        width: 270px;
        height: 40px;
        top: -9%;
        left: 6%;
        display: flex;
    }

    .textoFornecedor{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: -6%;
        width: 70px;
    }

    .quadradoDescricao{
        position: relative;
        width: 807px;
        height: 100px;
        top: -14%;
        left: 6%;
 }

    .textoDescricao{
        color: white;
        position: relative;
        left: 6%;
        font-size: 130%;
        top: -6%;
        width: 70px;
    }

    .confirmar{
        position: relative;
        top: -6%;
        left: 45%;
    }

}
